.HomePage-Container{
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  border: 2px solid black;
}

.HomePage-signup{
  display: flex;
  flex: 3;
  border: 1px solid black;
}

.HomePage-login{
  display: flex;
  flex: 2;
  border: 1px solid black;
}
