.HomePage-Container{
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
}

.HomePage-signup{
  display: flex;
  flex: 3;
}

.HomePage-login{
  display: flex;
  flex: 2;
}

@media only screen and (max-width: 800px) {
  .HomePage-Container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .HomePage-signup{
    display: flex;
    flex: 1;
  }

  .HomePage-login{
    display: flex;
    flex: 1;
  }
}
