.Signupside-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-repeat:no-repeat;
  background-size:cover;
  background-image: url('/images/signupResized.jpg');
}

.Signupside-color-div{
  background-color: rgba(22, 26, 34, 0.8);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.Signupside-box{
  display: flex;
  flex-direction: column;
  margin: 70px;
  flex-grow: 1;
}

.Signupside-welcome-message{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.Signupside-heading{
  display: flex;
  flex-grow: 1;
  font-size: 60px;
  font-weight: 300;
  color: rgb(240, 240, 240);
  font-family: 'Roboto', sans-serif;
}

.Signupside-logo{
  color: rgb(240, 240, 240);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

.Signupside-subbheading{
  display: flex;
  flex-grow: 1;
  margin-top: 15px;
  font-weight: 100;
  font-size: 30px;
  color: rgb(200, 200, 200);
  font-family: 'Roboto', sans-serif;
}

.Signupside-content{
  display: flex;
  line-height: 30px;
  flex-grow: 1;
  font-weight: 400;
  font-size: 17px;
  color: rgb(200, 200, 200);
  margin: 30px 0px;
  font-family: 'Roboto', sans-serif;
}

.Signupside-button{
  transition: background-color 0.5s ease;
  border: 2px solid rgb(40, 185, 133);
  padding: 25px;
  outline: none;
  border-radius: 2px;
  background-color: rgb(40, 185, 133);
}

.Signupside-button-label{
  margin: 15px;
  transition: background-color 0.5s ease;
  background-color: rgb(40, 185, 133);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color:rgb(240, 240, 240)
}

.Signupside-button:hover{
  background-color: rgb(22, 26, 34);
}

.Signupside-button:hover .Signupside-button-label{
  background-color: rgb(22, 26, 34);
  color:rgb(40, 185, 133);
}

.Main-logo{
  height: 50px;
}

.Signupside-language{
  border-bottom: 1px solid rgb(22, 26, 34);
  margin-top: 5px;
}