.PasswordForgot-Container{
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
}

.PasswordForgot-signup{
  display: flex;
  flex: 3;
}

.PasswordForgot-login{
  display: flex;
  flex: 2;
}

@media only screen and (max-width: 800px) {
  .PasswordForgot-Container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .PasswordForgot-signup{
    display: flex;
    flex: 1;
  }

  .PasswordForgot-login{
    display: flex;
    flex: 1;
  }
}
