.PasswordReset-Container{
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
}

.PasswordReset-signup{
  display: flex;
  flex: 3;
}

.PasswordReset-login{
  display: flex;
  flex: 2;
}

@media only screen and (max-width: 800px) {
  .PasswordReset-Container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .PasswordReset-signup{
    display: flex;
    flex: 1;
  }

  .PasswordReset-login{
    display: flex;
    flex: 1;
  }
}
