.Signup-Component-box{
  margin: auto;
  border-radius: 3%;
  display: flex;
  flex-grow: 1;
  padding: 10px;
  margin-top: 2%;
  width: 25%;
  flex-direction: column;
  border: 1px solid black;
}

.Signup-wrapper{
  display: flex;
  flex-grow: 1;
  border: 1px solid black;
  flex-direction: column;
}

.Signup-box-field{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Signup-fields-wrapper{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Signup-input-field{
  display: flex;
  flex-grow: 1;
  padding: 5px;
  font-size: 15px;
}

.Signup-page-title{
  font-size: 14px;
  font-family: 'Helvetica',sans-serif;
}

.Signup-page-button{
  background-color: rgb(38,55,80);
  margin: auto;
  padding: 5px;
  display: flex;
  flex-grow: 1;
  outline: none;
}

.Error-message{
  color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th, td {
    text-align: left;
    padding: 8px;
}

.Signup-page-label{
  color:rgb(240, 240, 240);
  font-size: 16px;
  margin: auto;
}

.inputFieldError{
  border: 1px solid red;
}
