.account-details-outer-container{
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: white;
}
.account-details-inner-container{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.account-details-image-container{
    /* flex-grow: 1; */
}

.account-detail{
    /* margin-bottom: 3%; */
    font-size: 22px;
}

.account-details-table{
    border-collapse:separate; 
    border-spacing:2em;
    /* background-color: blue; */
}

.bankUser-image{
    padding: 30px;
    width:280px;
    height: 300px;
}

.account-details-detail-container{
    flex-grow: 1;
}

.change-password-button-container{
    margin: auto;
}