.Dashboardcontent-container{
  display: flex;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  background-color: rgb(210, 210, 210);
}

.Dashboardcontent-playcard{
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 70%;
  margin: auto;
}

.Dashboardcontent-header{
  display: flex;
  background-color: rgb(22, 26, 34);
}

.Dashboardcontent-header-balance{
  display: flex;
  margin: 15px;
  color: rgb(240,240,240);
  flex-direction: column;
}

.Dashboardcontent-header-transfer{
  display: flex;
  margin: 15px;
  color: rgb(240,240,240);
  flex-grow: 1;
}

.Dashboardcontent-header-balance-line{
  display: flex;
}

.Dashboardcontent-header-balance-icon{
  font-size: 24px;
  margin: auto;
  margin-right: 5px;
}

 .Dashboardcontent-header-balance-amount{
   margin: auto;
 }

.Dashboardcontent-header-balance-value{
  display: flex;
  flex-grow: 1;
  margin-top: 5px;
  font-size: 25px;
  color: rgb(40, 185, 133);
}

.Dashboardcontent-header-wrapper{
  border-right: 2px solid white;
  display: flex;
  flex-grow: 1;
}

.Dashboardcontent-header-transfer-form{
  display: flex;
  color: rgb(240,240,240);
  flex-grow: 1;
  flex-direction: column;
}

.Dashboardcontent-header-amount{
  display: flex;
  flex-grow: 1;
}

.Dashboardcontent-header-username{
  display: flex;

  flex-grow: 1;
}

.Dashboardcontent-header-field{
  margin: 10px;
  display: flex;
  flex-grow: 1;
  margin-top: 5px;
}

.Dashboardcontent-header-input-field{
  background-color: rgb(22, 26, 34);
  border: 0px;
  color: white;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-bottom: 1px solid white;
}

.Dashboardcontent-header-input-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(225, 225, 225);
    opacity: 0.8; /* Firefox */
}

.Dashboardcontent-header-input-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(225, 225, 225);
    opacity: 0.8; /* Firefox */
}

.Dashboardcontent-header-input-field::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(225, 225, 225);
    opacity: 0.8; /* Firefox */
}

.Dashboardcontent-header-transfer-button-wrapper{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.Dashboardcontent-header-transfer-button{
  transition: background-color 0.5s ease;
  border: 0px;
  display: flex;
  justify-content: center;
  flex: 1;
  outline: none;
  border: 2px solid rgb(40, 185, 133);
  border-top: 2px solid white;
  background-color: rgb(40, 185, 133);
}

.Dashboardcontent-header-transfer-button:hover .Dashboardcontent-header-transfer-button-label{
  border-bottom: 2px solid white;
}

.Dashboardcontent-header-transfer-button-label{
  margin: 15px;
  background-color: rgb(40, 185, 133);
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid rgb(40, 185, 133);
  font-family: 'Roboto', sans-serif;
  color: white;
  transition: border-bottom 0.5s ease-in-out;
}

.Dashboardcontent-header-transfer-button-container{
  display: flex;
  flex-grow: 1;
}

.Dashboardcontent-body-transfer-form{
  display: flex;
  margin: auto;
}

.Dashboardcontent-body{
  display: flex;
}
