.Loginside-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: rgb(40, 185, 133);
}

.Login-input-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(210, 210, 210);
    opacity: 1; /* Firefox */
}

.Login-input-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(240, 240, 240);
}

.Login-input-field::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(240, 240, 240);
}

.Login-input-field{
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  outline: none;
  width: 100%;
  background-color: rgb(40, 185, 133);
  border: 0px;
  border-bottom: 2px solid rgb(200, 200, 200);
  padding-bottom: 7px;
  margin-top: 50px;
  color: rgb(240,240,240);
  font-size: 17px;
}

.Login-input-field:focus{
  border-bottom: 2px solid rgb(240, 240, 240);
}

.Loginside-box{
  display: flex;
  flex-direction: column;
  margin: 70px;
  flex-grow: 1;
}

.Loginside-welcome-message{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.Loginside-heading{
  display: flex;
  flex-grow: 1;
  font-size: 40px;
  font-weight: 100;
  color: rgb(240, 240, 240);
  font-family: 'Roboto', sans-serif;
}

.Loginside-logo{
  color: rgb(240, 240, 240);
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}


.Loginside-content{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 50px 0px;
  font-family: 'Roboto', sans-serif;
}

.Loginside-button{
  border: 2px solid rgb(240, 240, 240);
  padding: 20px;
  transition: background-color 0.5s ease;
  outline: none;
  flex-grow: 1;
  border-radius: 2px;
  background-color: rgb(240,240,240);
}

.Loginside-button-label{
  margin: 15px;
  font-size: 13px;
  transition: background-color 0.5s ease;
  text-transform: uppercase;
  font-weight: 500;
  background-color: rgb(240, 240, 240);
  font-family: 'Roboto', sans-serif;
  color:rgb(40, 185, 133)
}

.Loginside-button:hover{
  background-color: rgb(40, 185, 133);
}

.Loginside-button:hover .Loginside-button-label{
  background-color: rgb(40, 185, 133);
  color:rgb(240, 240, 240);
}
.Forgot-Password{
  margin: auto;
}