.settings-card{
    flex-grow: 1;
    /* border: 1px solid gray */
}
.settings-card-title{
    background-color: white;
    color:rgb(50,50,50);
    height: 5%;
    padding: 2%;
    font-weight: 600;
    font-size: 30px;
    /* padding-left: 1%; */
}
