.Header-main{
  display: flex;
  background-color: rgb(40, 185, 133);
  color: rgb(250,250,250);
  font-family: 'Roboto', sans-serif;
}

.Header-logo{
  display: flex;
  font-size: 20px;
  margin: 15px;
  color:
}

.Header-user{
  display: flex;
  flex-grow: 1;
  font-size: 17px;
  flex-direction: row-reverse;
}

.Header-dropdown-icon{
  padding: 0px;
  margin: 0px;
  font-size: 17px;
}

.Header-logout{
  margin: 15px 10px;
}

.Header-change-password{
  margin: 15px 10px;
}

.Header-hello-user{
  margin: 15px 10px;
}

.Header-options{
  border-right: 2px solid rgb(210,210,210);
  flex-direction:row;
}
/* 
.Header-button{
  border: 0px;
  padding: 25px;
  outline: none;
  border-radius: 2px;
  background-color: rgb(240,240,240);
}

.Header-button-label{
  margin: 15px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color:rgb(40, 185, 133)
} */
