.Reset-Password-Outer-Container{
    background-image: url("/images/key.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-grow: 1;
    height: 100vh;
    background-size: 100%;
}
.Reset-Password-Inner-Container{
    background-color: rgb(50,50,50,0.8);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.Reset-Password-Box{
    margin:auto;
    border:2px solid rgb(255,255,255,0.5);
    padding: 40px;   
    display: flex;
    flex-direction: column;
}

.input-username{
    background-color: transparent;
    font-size: 17px;
    margin: 5px;
    padding-bottom: 3px;
    border: 0px;
    color: white;
    outline: none;
    border-bottom: 1px solid rgb(240, 240, 240);
}