.change-password-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;  
}

.change-password-input-field-container{
    padding-top:3%;
    align-self: center;
}

.change-password-button{
    height:5%;
    width:30%;
    margin-top: 5%;
    background-color: rgb(40, 185, 133);
    align-self: center
}

.password-message{
    align-self: center;
}